header {
  background-color: #333333;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.jobs h1 {
  font-size: 30px;
  font-weight: 100;
}
.red,
.yellow,
.blue,
.green,
.pink {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  justify-content: space-between;

  padding: 10px;
  /* flex-shrink: 0; */
}
.red {
  border: red solid 5px;
}
.blue {
  border: #039fe3 solid 5px;
}
.yellow {
  border: #ffee03 solid 5px;
}
.green {
  border: green solid 5px;
}
.pink {
  border: #f8c5b0 solid 5px;
}
.jobs {
  margin: 30px auto;
  display: flex;
  gap: 20px;
  max-width: 1024px;

  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
}
footer span {
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #dddddd;
}
@media (max-width: 1024px) {
  .jobs {
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  header {
    position: sticky;
    top: 0;
  }
  .red,
  .yellow,
  .blue,
  .green,
  .pink {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    min-width: 185px;
    height: 200px;
    justify-content: space-between;

    padding: 10px;
    /* flex-shrink: 0; */
  }
}
@media (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
  }
  footer {
    position: sticky;
    bottom: 0;
  }
  .red,
  .yellow,
  .blue,
  .green,
  .pink {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    justify-content: space-between;

    padding: 10px;
    /* flex-shrink: 0; */
  }
}
